<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="boewer-components/bootstrap/dist/css/bootstrap.css">
        <title>Todo app</title>
    </head>
    <body>
<div class="container">
<header class="text-center">
    <h1>Simple todo list</h1>
    <h4>Organize you life!</h4>
    <br>
</header>



